Flask==2.3.2
flask-restx >= 1.1.0
Psycopg2 >= 2.8.4
Flask-SQLAlchemy >= 2.4.1
Flask-Migrate >= 2.5.2
flask-script >= 2.0.6
python-dotenv >= 1.0.0
requests==2.31.0
beautifulsoup4 >= 4.12.2
nltk >= 3.8.1
flask-marshmallow >= 0.15.0
marshmallow-sqlalchemy >= 0.29.0

